.underline {
  width: 500px;
  height: 10px;
  margin-top: 20px;
}

.turnIndicator {
  margin-top: 20px;
  background-color: rgb(254, 120, 120);
  height: 10px;
  width: 500px;
  border-radius: 10px;
  animation: pulse-turn 0.5s infinite;
  box-shadow: 0 2px 7px 0px rgb(148, 148, 148);
}

@keyframes pulse-turn {
  0% {
    transform: scale(1);
    color: rgb(254, 120, 120, 0.8)
  }
  
  50% {
    transform: scale(1.02);
    color: rgb(254, 120, 120)
  }
  
  100% {
    transform: scale(1);
    color: rgb(254, 120, 120, 0.8);
  }
}